# Normalize line endings
* text=auto eol=lf

# Windows scripts
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

# Mark text types + map to diff drivers
*.ts     text diff=typescript
*.js     text diff=javascript
*.json   text diff=json
*.html   text diff=html
*.scss   text diff=css
*.css    text diff=css
*.md     text diff=markdown
*.yaml   text
*.yml    text
*.sql    text diff=sql
*.py     text diff=python
*.sh     text eol=lf

# Treat binaries properly
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.zip binary
*.tgz binary
*.gz  binary
*.db  binary
*.sqlite binary
*.p12 binary
*.keystore binary
